body{
    margin: 0;
    padding: 0;
    background-image: url(https://images3.alphacoders.com/135/1350069.jpeg);
    background-size: cover;
}
.container{
    top: 35%;
    left: 50%;
    position: absolute;
    transform: translate(-50%);

}
.card{
    padding: 60px 40px 50px 40px;
    background: transparent;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(225,225,225,.2);
    border-radius: 15px;
}
    
#name{
    width: 200px;
    border: none;
    background: transparent;
    border-bottom: 1px solid white;
    padding: 6px;
    margin-bottom: 20px;
    color: white;

}
#button{
    border-radius:  20px;
    padding: 10px 20px;
    background: dodgerblue;
    color: white;
    margin-top: 10px;
   border: none;
   outline: none;
   margin-left: 60px;
}
a{
    font-size: 13px;
    margin-left: 50px;
    
}
#button:hover{
    background-color: white;
    color: black;
}

