body{
    background-image: url(https://img1.wallspic.com/crops/9/9/2/4/7/174299/174299-nature-landscape-nature_reserve-water-cloud-3840x2160.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.color{
    top: 35%;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
}
.style{
    padding: 60px 40px 50px 40px;
    background: transparent;
    backdrop-filter: blur(19px);
    border: 2px solid rgba(225,225,225,.2);
    border-radius: 15px
}
#name{
    width: 200px;
    border: none;
    background: transparent;
    border-bottom: 1px solid white;
    padding: 6px;
    margin-bottom: 20px;
    color: white;
}
#password{
    width: 200px;
    border: none;
    background: transparent;
    border-bottom: 1px solid white;
    padding: 6px;
    margin-bottom: 20px;
    color: white;
}
#button{
    background-color: dodgerblue;
    color: white;
    border: none;
    outline: none;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
    margin-left: 120px;
    margin-bottom: 100pxpx;
}
#button:hover{
    background-color: white;
    color: black;

}
label{
    color: white;
}